@font-face{
  font-family: marvel;
  src: url(./font/MarvelRegular-Dj83.ttf);
}
:root{
  --red:#ED1D24;
  --black2:#202020;
  --black:#000000;
  --white:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
  line-height: 1.6;
  width: 100%;
  background-color: blue;
}
a{
  text-decoration: none;
  display: block;
}
li{
  list-style: none;
}
img, video{
  width: 100%;
}
img{
  vertical-align: middle;
}
button{
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
}
header{
  background-color:var(--black);
}
/* NAVIGATION */
nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index:5000;
  height: 24vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: .4s;
  background:linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0) );
}
.main-nav.active{
  background:var(--black2);
  opacity: .95;
  padding: .5rem;
  align-items: center;
  height: 12vh;
  z-index: 5000;
}
nav.flex{
  justify-content: space-between;
}
.logo {
  background: url(./img/logo.png) no-repeat center;
  background-size: 100%;
  height:7rem;
  width:14rem;
  z-index: 1000;
  transition: .4s;
  cursor: pointer;
}
.logo.active{
  background: url(./img/logo-scrolled.svg) no-repeat center;
  background-size: 70%;
  height:70px;
  width: 100px;
  cursor: pointer;
}
.nav__list{
  font-family: marvel;
  text-transform: uppercase;
  display: flex;
}
.nav__list a{
  margin: 0 1rem;
  line-height: 1;
  padding: .2rem;
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 2px;
  text-align: center;
}
.nav__list a:hover{
  background-color:var(--red);
  transition: .3s ease-out;
}
.burger{
  position: fixed;
  top: 1rem;
  right: 5%;
  height: 25px;
  width: 25px;
  background-color: transparent;
  outline: transparent;
  border: transparent; 
  z-index: 2000;  
  transition: .2s;
}
.burger.active{
  transform: rotate(-180deg);
}
.line{
  display: block;
  background-color:var(--white);
  width: 90%;
  height: 2px;
  margin-bottom: 4px;
}
.burger.active span:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span:nth-child(2){
  opacity: 0;
}
.burger.active span:nth-child(3){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* HERO */
.hero{
  margin:auto;
  padding:3rem 0;
  width: 80%;
  height: 100%;
}
/* News-main */
section.news{
  padding:1rem;
  display: flex;
  flex-wrap: wrap; 
}
section.news span{
  position: absolute;
  font-family: marvel;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--red);
  color: var(--white);
  padding: .1rem .4rem;
  letter-spacing: 1px;
}
section.news figure{
  cursor: pointer;
  opacity: .95;
}
section.news figure:hover{
  opacity: 1;
}
section.news figcaption{
  font-family: Arial, Helvetica, sans-serif;
}
/* GALLERY */
/* GALLERY SLICK-SLIDER */
.slideInLeft {
  animation-name: animateInLeft;
  z-index: 2;
}

.slideInRight {
  animation-name: animateInRight;
  z-index: 2;
}

.slideOutLeft {
  transform: translateX(-100%);
}

.slideOutRight {
  transform: translateX(100%);
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}









/* GALLERY CONTROLS */
.gallery-controls{
  background-color:#202020;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-controls button{
  outline: none;
  background-color: transparent;
  border: none;
  color:var(--white);
  font-size: 1.4rem;
  cursor: pointer;
}
#pause{
  opacity: .8;
}
#prev-btn, #next-btn{
  padding: 0 .4rem;
  font-size: 2rem;
  opacity: .8;
}
#prev-btn:hover, #next-btn:hover, #pause:hover{  
  opacity: 1;
}
.page{
  font-size:1.7rem;
}



/* Mobile */
@media all and (max-width:768px){
  /* NAVIGATION */
 
  nav{
    padding: .5rem;
  }
  .logo {
    height:5rem;
    width:7rem;
  }
  .logo.active{
    height:3rem;
    width:5rem;
  }
  .main-nav{
    height: 10vh;
  }
  .main-nav.active{
    height: 8vh;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    background-color:#000;
    width: 100vw;
    height: 100vh;
    transition: .7s;
    opacity: 0;
  }
  .nav__list.visible{
    opacity: 1;
  }
  .nav__list a{
    position: relative;
    top:0;
    left: 0;
    margin: .5rem auto;
    transform: translateY(-100%);
    transition:.5s;
    width: 30%;
  }
  .nav__list.visible a{
    transform: translateY(0%); 
  }
  .logo.active{
    background-size: 100%;
  }
  /* HERO */
  .hero-desktop{
    display: none;
  }
  .vid-btn{
    display: none;
  }
  section.news figure{
    width: 100%;
    padding-bottom: .4rem;
    margin-bottom: -3rem;
  }
  section.news figcaption{
    height:4rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    float: left;
    top: 0rem;
    transform: translateY(-4rem);
    font-size: 1.3rem;
    padding: 0rem .5rem;
    width: 100%;
  }
}
/* Desktop */
@media all and (min-width:769px){
  /* NAVIGATION */
  header{
    height: 100vh;
  }
  .burger{
    display: none;
  }
  .logo{
    min-width: 200px;
  }
  .nav__list{
    padding: 0 2rem;
  }
  /* HERO */
  .hero-mobile{
    display: none;
  }
  .vid-btn{
    outline: none;
    background-color: transparent;
    border: none;
    color:white;
    position: relative;
    bottom:4rem;
    left: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  section.news figure{
    width: 25%;
    padding: 1rem .4rem;
  }
  section.news figcaption{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  /* GALLERY */
 section.gallery {
    position:relative;
    height: 40vw;
    overflow: hidden;
}
 .slide {
    position: absolute;
    width:100%;
    z-index:1;
    height: 50vw;
}
 .slide img{
    object-fit: cover;
    width: 100%;
 }
 .slide.active{
   z-index: 2;
 }


 
}
/* Smallest Device */
@media all and (max-width:430px){
  section.news figcaption{
    padding: .5rem 1rem ;
    font-size: .9rem;
  }
}