@font-face{
  font-family: marvel;
  src: url(./font/MarvelRegular-Dj83.ttf);
}
:root{
  --red:#ED1D24;
  --black2:#101820;
  --black1:#000000;
  --black:#091018;
  
  --white:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
  line-height: 1.6;
  width: 100%;
 
}
a{
  text-decoration: none;
  display: block;
}
li{
  list-style: none;
}
img, video{
  width: 100%;
}
img{
  vertical-align: middle;
}
button{
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
}
header{
  background-color:#000;
}
/* NAVIGATION */
nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index:5000;
  height: 24vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: .4s;
  background:linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0) );
}
.main-nav.active{
  background:var(--black);
  opacity: .95;
  padding: .5rem;
  align-items: center;
  height: 12vh;
  z-index: 5000;
}
nav.flex{
  justify-content: space-between;
}
.logo {
  background: url(./img/logo/logo.png) no-repeat center;
  background-size: 100%;
  height:7rem;
  width:14rem;
  z-index: 1000;
  transition: .4s;
  cursor: pointer;
}
.logo.active{
  background: url(./img/logo/logo-scrolled.svg) no-repeat center;
  background-size: 70%;
  height:70px;
  width: 100px;
  cursor: pointer;
}
.nav__list{
  font-family: marvel;
  text-transform: uppercase;
  display: flex;
}
.nav__list a{
  margin: 0 1rem;
  line-height: 1;
  padding: .2rem;
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 2px;
  text-align: center;
}
.nav__list a:hover{
  background-color:var(--red);
  transition: .3s ease-out;
}
.burger{
  position: fixed;
  top: 1rem;
  right: 5%;
  height: 25px;
  width: 25px;
  background-color: transparent;
  outline: transparent;
  border: transparent; 
  z-index: 2000;  
  transition: .2s;
}
.burger.active{
  transform: rotate(-180deg);
}
.line{
  display: block;
  background-color:var(--white);
  width: 90%;
  height: 2px;
  margin-bottom: 4px;
}
.burger.active span:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span:nth-child(2){
  opacity: 0;
}
.burger.active span:nth-child(3){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* HERO */
.hero{
  margin:auto;
  padding:1rem 0;
  width: 80%;
  height: 100%;
  display: flex;
  align-self: center;
}
.hero-mobile{
  padding: 5rem 0;
}
/* News-main */
section.news{
  padding:1rem;
  display: flex;
  flex-wrap: wrap; 
}
section.news span{
  position: absolute;
  font-family: marvel;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--red);
  color: var(--white);
  padding: .1rem .4rem;
  letter-spacing: 1px;
}
section.news figure{
  cursor: pointer;
  opacity: .95;
}
section.news figure:hover{
  opacity: 1;
}
section.news figcaption{
  font-family: Arial, Helvetica, sans-serif;
}
/* GALLERY */
/* GALLERY SLICK-SLIDER */
.slideInLeft {
  animation-name: animateInLeft;
  z-index: 2;
}

.slideInRight {
  animation-name: animateInRight;
  z-index: 2;
}

.slideOutLeft {
  transform: translateX(-100%);
}

.slideOutRight {
  transform: translateX(100%);
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
section.gallery {
  position:relative;
  background-color: var(--black1);

  overflow: hidden;
}
.slide {
  position: absolute;
  width:100%;
  z-index:1;
  height: 50vw;
  opacity: 0;
}
.slide img{
  object-fit: cover;
  width: 100%;
  opacity: .3;
  transition: .5s ease-in;
}
.slide img:hover{
  opacity: .7;
}
.slide.active{
 z-index: 2;
 opacity: 1;
}
/* GALLERY CONTROLS */
.gallery-controls{
  background-color:var(--black);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-controls button{
  outline: none;
  background-color: transparent;
  border: none;
  color:var(--white);
  font-size: 1.4rem;
  cursor: pointer;
}
#pause{
  opacity: .8;
}
#prev-btn, #next-btn{
  padding: 0 .4rem;
  font-size: 2rem;
  opacity: .8;
}
#prev-btn:hover, #next-btn:hover, #pause:hover{  
  opacity: 1;
}
.page{
  font-size:1.7rem;
}
.slide div{
  position: absolute;
  top: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100%;
  padding:0 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.slide div h1{

  line-height: 3rem;
  font-weight: 900;
}
.slide div p{
  line-height: 2rem;

}
.slide div a{
  color: var(--white);
  margin: 1rem;
  padding: 1rem;
  border: var(--white) solid;
  width: 50%;
  text-align: center;
  transition: .4s ease-in;
  font-weight: bolder;
}
.slide div a:hover{
  background-color: var(--white);
  color: var(--black2);
}


/* VIDEO PLAYER */
#video-player{
  background-color: var(--black);
}
.vid-playlist-container h1{
  font-family: marvel;
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 1rem;
  text-align: center;
  color: var(--white);
  height: auto;
}
.vid-playlist{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 200px;
  background-color: var(--black2);


}
.playlist{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: .8rem .5rem;
  color: var(--white);
  border-bottom: 1px solid rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 10px var(--white);
  cursor: pointer;
}

.playlist img{
  width: 150px;
}
.playlist span{
  padding: 0 1rem;
}
.playlist{
  opacity: 1;
  transition: .5s;
}
.playlist:hover{
  opacity: 1;
}
.playlist.active{
  opacity: 1;
  background-color: black;
}
/* THUMBNAIL SLIDER */
.explore{
  width: 100%;
  padding:1rem 2rem;
  overflow-x: hidden;
}
.explore h1{
  padding-top: 2rem;
  text-align: center;
  font-family: marvel;
  font-size: 2rem;
  letter-spacing: 4px;
}
.thumbnail-slider{
  width: 100%;
  float: left;overflow: hidden;
}
.thumbnail-container{
  width: 100%;
  transition: margin 1s;
}
.thumbnail-container .item{
  height: 30vh;
  float: left;
  align-items: center;
  transition:1s;
}
.item img{
  height: 100%;
  z-index: 3;

}
.item:hover img{ 
  border:solid var(--black) 3px;
}
.item p{
  background-color:var(--black);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: none;
  z-index: 1;
}
.item:hover p{
  display: block;
}
/* SLIDE CONTROLS */
.thumbnail-slider .controls{

	width: 100%;
	float: left;
	padding:15px;
}
.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color:var(--black2);
  color:#ffffff;
}
/* SIGNUP SECTION */
section.sign-up{
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
section.sign-up h1{
  font-family: Arial, Helvetica, sans-serif;
  padding: .5rem;
  font-size: 2rem;
}
section.sign-up p{
  padding: .5rem;
  font-family: Arial, Helvetica, sans-serif;
}
section.sign-up a{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  color: var(--red);

}
.sign-up-envelope::before{
  content: "";
  color: var(--red);
  border: var(--red) solid 1px;
  padding: 2rem;
  border-radius: 50%;
  animation: glow 1s ease-in 0s infinite ;
  height: 100%;
  cursor: pointer;
}
@keyframes glow{
  0%{
    padding:.2rem;
    border:solid 3px;
    box-shadow: 0 0 10px var(--red);
  }
  25%{
    padding: .4rem;
    border:solid 2.5px;
    box-shadow: 0 0 20px  var(--red);
  }
  50%{
    padding: .8rem;
    border:solid 2px;
    box-shadow: 0 0 20px  var(--red); 
  }
  75%{
    padding: 1.2rem;
    border: solid 1.5px;
    box-shadow: 0 0 10px  var(--red);
  }
  100%{
    padding: .2rem;
    border:  solid 1.3px;
     box-shadow: 0 0 4px  var(--red);
  }
}
footer{
  width: 100%;
  padding: 3rem 1rem 1rem;
  background-color: var(--black);
  display: flex;
  justify-content: space-evenly;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
footer a{
  color: var(--white);
}
footer .logo1{
  background: url(./img/logo/logo.png) no-repeat center;
  background-size: 100%;
  height:7rem;
  width:7rem;
  transition: .4s;
  cursor: pointer;
}
.footer-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
}
.primary-links{
  font-size: .9rem;
  font-weight: bold;
  padding: 1rem;
  text-shadow: 0 0 1px var(--white);
}
.secondary-links{
  padding: 1rem;
  line-height: 2;
  font-size: .8rem;
}
footer .promotion figure{
  display: flex;
  align-items: center;
}
footer .promotion figure img{
  height: 2rem;
  width: 4rem;
  margin: 1.2rem;
}
.social-media-links{
  padding: 1rem;
}
.social-media-links p{
  padding-bottom: 1rem;
}
.social-media-links ul{
  margin: 0 .5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .4rem;
}
.social-media-links li a:hover{
  transition: .2s;
  opacity: .6;
}
.main-footer{
  font-size: .8rem;
  padding: 2rem;
  flex-wrap: wrap;
}
.main-footer a{
  padding: 0 1rem;
}





/* Mobile */
@media all and (max-width:768px){
  /* NAVIGATION */
 
  nav{
    padding: .5rem;
  }
  .logo {
    height:5rem;
    width:7rem;
  }
  .logo.active{
    height:3rem;
    width:5rem;
  }
  .main-nav{
    height: 10vh;
  }
  .main-nav.active{
    height: 8vh;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    background-color:#000;
    width: 100vw;
    height: 100vh;
    transition: .7s;
    opacity: 0;
    visibility: hidden;
  }

  .nav__list.visible{
    opacity: 1;
    visibility: visible;
  }
  .nav__list a{
    position: relative;
    top:0;
    left: 0;
    margin: .5rem auto;
    transform: translateY(-100%);
    transition:.5s;
    width: 30%;
  }
  .nav__list.visible a{
    transform: translateY(0%); 
  }
  .logo.active{
    background-size: 100%;
  }
  /* HERO */
  .hero-desktop{
    display: none;
  }
  .vid-btn{
    display: none;
  }
  section.news figure{
    width: 100%;
    padding-bottom: .4rem;
    margin-bottom: -3rem;
  }
  section.news figcaption{
    height:4rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    float: left;
    top: 0rem;
    transform: translateY(-4rem);
    font-size: 1.3rem;
    padding: 0rem .5rem;
    width: 100%;
  }
  section.gallery {
    position:relative;
    height: 54vw;
    overflow: hidden;
}
 .slide {
    position: absolute;
    width:100%;
    z-index:1;
    height: 60vw; 
  }
  .slide div{
    padding: 1rem;
    height: 100%;
    position: absolute;
  }
  .slide div h1{
    font-size:1.5rem;
  }
  .slide div p{
    font-size: 1rem;
  }
  .slide div a{
    padding: .3rem;
  }
  /* VIDEO PLAYER */
  #video-player{
    margin: 2rem 0rem;
    display:grid;
    grid-template-rows:400px 1fr;

    height: 50%;
  }
  .vid-container{
    position: relative;
    top: 0;
    background-color: violet;
    width: 100%;
  }
  .vid-container iframe{
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
 }
  .vid-playlist-container{
    position: relative;
    top: 0;
    height:52%;
    width: 100%;
    min-width: 300px;
  }
  .vid-playlist{
   width: 100%;
   position: relative;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer div{
    border-bottom: 1px solid;
    width: 100%;
     
  }
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 2rem;
  }
  .social-media-links ul{
    display:flex;
    width: 100%;
  }
  .social-media-links p{
    text-align: center;
  }
  .social-media-links li{
    padding: 2rem;

    justify-content: space-between;
  }

 
}
/* Desktop */
@media all and (min-width:769px){
  /* NAVIGATION */
  header{
    height: 100vh;
  }
  .burger{
    display: none;
  }
  .logo{
    min-width: 200px;
  }
  .nav__list{
    padding: 0 2rem;
  }
  /* HERO */
  .hero-mobile{
    display: none;
  }
  .vid-btn{
    outline: none;
    background-color: transparent;
    border: none;
    color:white;
    position: relative;
    bottom:4rem;
    left: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  section.news figure{
    width: 25%;
    padding: 1rem .4rem;
  }
  section.news figcaption{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  /* GALLERY */
 section.gallery {
    position:relative;
    height: 45vw;
    overflow: hidden;
}
 .slide {
    position: absolute;
    width:100%;
    z-index:1;
    height: 60vw;
    opacity: 0; 
}
 .slide img{
    object-fit: cover;
    width: 100%;
 }
 .slide.active{
   z-index: 2;
   opacity: 1;
 }
 .slide div h1{
   font-size:3rem;
   line-height: 4rem;
}
.slide div p{
  font-size: 1.4rem;
}
 /* VIDEO PLAYER */
 #video-player{
   margin: 2rem .5rem;
   height: 70vh;
   display: grid;
   grid-template-columns: 75% 25%;
 }
 .vid-container{
   position: relative;
   top: 0;
   background-color: violet;
   height: 70%;
   width: 100%;
 }
 .vid-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 200px;
}
 .vid-playlist-container{
   position: relative;
   top: 0;
   height:65%;
   width: 100%;
   min-width: 300px;
 }
 .vid-playlist{
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
 }
}
/* Smallest Device */
@media all and (max-width:600px){
.slide div{
  padding: 1rem;
  height: 100%;
  position: absolute;
}
.slide div h1{
  font-size:1.3rem;
  line-height: 2rem;
}
.slide div p{
  font-size: 1rem;
}
.slide div a{
  padding: 0rem;
  }
}

@media all and (max-width:430px){
  section.news figcaption{
    padding: .5rem 1rem ;
    font-size: .9rem;
  }
}